@font-face {
  font-family: 'Fira Sans Condensed';
  src: local('Fira Sans Condensed Bold'), local('Fira-Sans-Condensed-Bold'),
      url('../fonts/FiraSansCondensed-Bold.woff2') format('woff2'),
      url('../fonts/FiraSansCondensed-Bold.woff') format('woff'),
      url('../fonts/FiraSansCondensed-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
  }
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
  }
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-SemiBold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
  }
@font-face {
    font-family: 'Inter';
    src: url('../fonts/FiraSansCondensed-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
  }

body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
body {
    background-color: #F8F8F8;
    padding-top: 120px;
    box-sizing: content-box;
  }
nav {
    height: 120px;
    background-color: #435585;
}
a {
    text-decoration: none;
}
ul, ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
.navbar-brand{
    margin-left: 4.8%;
}

.nav-item a {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    text-transform: uppercase;
    line-height: 44px;
}
.navbar-nav{
  margin-left: 47.49%;
}

.nav-item:not(:first-child) {
  /* margin-right: 19%; */
  margin-left: 8.6%;
}
.nav-link img {
  object-fit: none;
}
.nav-link p {
  font-size: 24px;
  font-weight: 600;
  margin-left: 10px;
  text-wrap: nowrap;
  color: #191717;
  line-height: 29.05px;
  letter-spacing: 0.8px
}
.home_text_block{
  width: 71%;
}
.home_text_block h1 {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 170px;
  font-weight: 600;
  color: #435585;
  line-height: 163px;
  text-transform: uppercase;
}
.home_text_block h3 {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 39px;
  font-weight: 600;
  color: #B4B4B8;
  text-transform: uppercase;
}
.home_text_block p {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #B4B4B8;
}
.first_slide_image {
  max-height: 560px;
  object-fit: contain;
}
.carousel-inner {
  height: 100%;
}
.carousel-item {
  height: 100%;
}
.home_container {
  height: 100%;
  min-width: 90%;
  align-items: center;
  margin: auto 86px;
  justify-content: end;
}
.home_info_block{
  margin-top: 10%;
}
.info_title{
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  color: #B4B4B8;
  font-weight: 500;
  margin: 0 24px;
}
.info_text{
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  color: #191717;
  font-weight: 400;
}
.info_icon {
  width: 30px;
  height: 30px;
}
.email .info_text {
  margin-left: 17px;
}
.fax .info_text {
  margin-left: 36px;
}
.home_info_block div {
  margin-bottom: 14px;
}
.carousel_indicator_buttons{
  width: 42px !important;
  height: 5px !important;
  border: 1px solid black !important;
}
.carousel-indicators .active{
  background: black !important;
}
.first_slide_flex{
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}


.about_container{
  height: calc(100% - 120px);
  margin-left: 4%;
  margin-top: 2%;
  align-items: center;
}
.about_text_block{
  width: 50%;
  flex-direction: column;
}
.about_text_block h1 {
  font-family: 'Inter', sans-serif;
  font-size: 48px;
  color: #435585;
  font-weight: 600;
  margin-bottom: 12px;
  text-align: left;
}
.about_text_block h3 {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 36px;
  color: #B4B4B8;
  font-weight: 700;
  margin-bottom: 66px;
  text-align: left;
}
.about_text_block p {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  color: #191717;
  font-weight: 400;
  text-align: left;
}
.about_text_img{
  width: 50%;
  height: 100%;
  align-items: flex-end;
  margin-left: 22%;
}
.about_text_img img{
  object-fit: contain;
}
.service_container{
  display: grid;
  height: 90%;
  margin: 1% 4% 0 4%;
  grid-template-columns: 1fr 1fr;
}
.service_text_container{
  flex-direction: column;
}
.service_text_container h1 {
  font-family: 'Inter', sans-serif;
  font-size: 48px;
  color: #435585;
  font-weight: 600;
  margin-bottom: 12px;
  text-align: left;
}
.service_text_container h3 {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 36px;
  color: #B4B4B8;
  font-weight: 700;
  margin-bottom: 4%;
  text-align: left;
}
.service_text_container p {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  color: #191717;
  font-weight: 400;
  text-align: left;
}
.second_grid{
  display: flex;
  justify-content: flex-end;
  height: 85%;
}
.second_grid img {
  object-fit: contain;
}
.last_grid{
  position: absolute;
  display: flex;
  width: 92%;
  grid-column: col 3/1;
  gap: 33px;
  bottom: 5%;
  justify-content: space-between;
}
.service_grid_items:not(:last-child){
  height: fit-content;
}
.last_grid img{
  object-fit: cover;
  max-height: 300px;
}
.card-text{
  font-family: 'Inter', sans-serif !important;
  font-size: 1rem !important;
  color: #435585 !important;
  font-weight: 600 !important;
  text-align: center !important;
}
.card {
  width: 18% !important;
  border: 1px solid #435585 !important;
  height: fit-content;
}

.navbar-collapse{
  background-color: #435585;
}
.small_screen{
  display: none;
}


#carouselExample{
  height: calc(100% - 120px);
}

.home_container_small{
  display: none;
}
/* Media screen width */

@media only screen and (max-width: 1700px) {
  .about_text_block{
    width: 65%;
  }
  .about_text_img{
    width: 45%;
    margin-left: 10%;
  }
}
@media only screen and (max-width: 1600px) {
  .nav-item a{
    font-size: 15px;
  }
  .nav-link p{
    font-size: 19px;
  }
  .navbar-nav{
    margin-left: 42%;
  }
  .about_text_img{
    margin-left: 2%;
  }
}
@media only screen and (max-width: 1405px) {
  .home_text_block h1 {
    font-size: 120px;
  }
  .home_text_block h3{
    font-size: 25px;
  }
  .home_text_block p{
    font-size: 14px;
  }
  .info_title{
    font-size: 18px;
    margin: 0 14px;
  }
  .info_icon{
    width: 24px;
    height: 24px;
  }
  .info_text{
    font-size: 16px;
  }
  .email .info_text{
    margin-left: 13px;
  }
  .fax .info_text{
    margin-left: 28px;
  }
  .service_text_container h1{
    font-size: 35px;
  }
  .service_text_container h3{
    font-size: 29px;
  }
  .service_text_container p{
    font-size: 19px;
  }
  .second_grid img{
    height: 255px;
  }
  .last_grid img{
    max-height: 245px;
  }
  .card-text{
    font-size: 0.8rem !important;
  }
  .nav-item a{
    font-size: 14px;
    line-height: 34px;
  }
  .nav-link img {
    object-fit: contain;
    height: 33px;
  }
  .nav-link p{
    font-size: 16px;
  }
  .nav-item:not(:first-child){
    margin-left: 5.6%;
  }
  .about_text_img{
    margin-right: 5%;
  }
  .about_text_block h3{
    margin-bottom: 18px;
    font-size: 30px;
  }
  .about_text_block h1{
    font-size: 40px;
  }
  .about_text_block p{
    font-size: 18px;
  }
  .about_text_img img{
    height: 280px;
  }

}
@media only screen and (max-width: 1305px) {
  .service_text_container h1{
    font-size: 30px !important;
  }
  .service_text_container h3{
    font-size: 24px !important;
  }
  .service_text_container p{
    font-size: 15px !important;
  }
  .second_grid img{
    height: 205px !important;
  }
  .last_grid img{
    max-height: 215px !important;
  }
  .card-text{
    font-size: 0.6rem !important;
  }
  .last_grid{
    bottom: 6%;
  }
}
@media only screen and (max-width: 1180px) {
  .nav-item:not(:first-child){
    margin-left: 2.6%;
  }
  .navbar-nav{
    margin-left: 35%;
  }
  .home_text_block h1{
    font-size: 110px;
    line-height: 100px !important;
  }
  .home_text_block h3{
    font-size: 20px;
  }
  .home_text_block p{
    font-size: 12px;
  }
}
@media only screen and (max-width: 992px) {
  body{
    padding-top: 60px;
  }
  nav{
    height: 60px;
  }
  .nav-item:not(:first-child){
    margin-left: 0;
  }
  .navbar-nav{
    margin-left: 5%;
  }
  .navbar-brand{
    height: 100%;
  }
  .navbar-brand img{
    width: 101px;
    height: 48px;
  }
  .navbar-brand{
    margin-top: -10px;
  }
  .navbar-toggler{
    border: none !important;
  }
  .navbar-toggler:focus{
    box-shadow: none !important;
  }
  .nav-item:last-child{
    display: none;
  }
  .nav-link p{
    font-size: 13px;
  }
  .nav-link img{
    height: 20px;
    object-fit: contain;
  }
  .small_screen{
    display: flex;
    align-items: center;
  }
  .home_container{
    display: none !important;
  }
  .home_container_small{
    display: flex;
    flex-direction: column;
    margin-left: 3%;
  }
  .first_slide_flex{
    width: 100%;
  }
  .home_text_block{
    width: 80%;
    margin-top: 42px;
  }
  #carouselExample{
    height: calc(100% - 60px);
  }
  .home_text_block h1{
    font-size: 70px;
  }
  .home_text_block h1{
    line-height: 60px !important;
  }
  .home_container_small .home_image_block img {
    max-height: 300px !important;
  }
  .home_container_small .home_image_block{
    margin: 0 auto;
  }
  .about_container{
    flex-direction: column;
    margin: 0 auto;
  }
  .about_text_block{
    width: 93%;
    margin-top: 2%;
  }
  .about_text_img{
    width: 93%;
    justify-content: flex-end;
    margin: 0;
  }
  .about_text_img img{
    height: 225px;
  }
  .card:last-child{
    display: none;
  }
  .service_container{
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .first_grid{
    grid-row: 1;
  }
  .second_grid{
    grid-row: 3;
  }
  .last_grid{
    grid-row: 2;
    position: relative;
  }
  .card-body{
    padding: 5px !important;
  }
  
}


@media only screen and (max-width: 660px) {
  .about_text_block h1{
    font-size: 33px !important;
  }
  .about_text_block h3{
    font-size: 20px !important;
  }
  .about_text_block p{
    font-size: 16px !important;
  }
  .about_text_img img{
    height: 190px !important;
  }
  .service_text_container h1{
    font-size: 25px !important;
  }
  .service_text_container h3{
    font-size: 17px !important;
  }
  .service_text_container p{
    font-size: 13px !important;
  }
  .card-text{
    font-size: 0.5rem !important;
  }
}
@media only screen and (max-width: 450px) {
  .home_container_small .home_image_block img {
    max-height: 163px !important;
  }
  .home_text_block{
    margin-top: 20%;
  }
  .about_text_block h1{
    font-size: 27px !important;
    margin-bottom: 0px !important;
  }
  .about_text_block h3{
    font-size: 17px !important;
    margin-bottom: 0px !important;
  }
  .about_text_block p{
    font-size: 13px !important;
  }
  .about_text_img img{
    height: 110px !important;
  }
}
@media only screen and (max-width: 360px) {
  .nav-link p{
    font-size: 11px;
    margin-left: 2px;
  }
  .nav-link img{
    height: 16px;
  }
}







/* Media screen height */

@media only screen and (max-height: 890px) {
  .service_text_container h1{
    font-size: 35px;
    margin-bottom: 9px;
  }
  .service_text_container h3{
    font-size: 29px;
    margin-bottom: 2%;
  }
  .service_text_container p{
    font-size: 19px;
  }
  .second_grid img{
    height: 245px;
  }
  .last_grid img{
    max-height: 240px;
  }
  .card-text{
    font-size: 0.8rem;
  }
  .home_text_block h1{
    line-height: 133px;
  }
  .home_info_block{
    margin-top: 4%;
  }
  .first_slide_image{
    max-height: 530px;
  }
  .about_text_block h3{
    margin-bottom: 18px;
    font-size: 30px;
  }
  .about_text_block h1{
    font-size: 40px;
  }
  .about_text_block p{
    font-size: 18px;
  }
}